<h1>Listing pins</h1>

<div class="jumbotron">
  <h1>Welcome to Pinterest for Kittens!</h1>
  <p>Already Have an Account? Sign In or Sign Up for Pinterest for Kittens</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/users/sign_in">Sign In</a> <a class="btn btn-primary btn-lg" role="button" href="/users/sign_up">Sign Up</a></p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>
